@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: 0 0% 13%; /* #212121 */
  --background-light-gray: 0 0% 97%; /* #F7F7F7 */
  --background-linen: 27 69% 95%; /* #FBF1E9 */

  --color-dark-blue: 240 34.4% 12%; /* #141429 */
}
